<div class="talk">
    {% capture end_time %}{{ talk.datetime | date: '%s' | plus: 3600 }}{% endcapture %}
    {{ talk.datetime | date: "[%a] %-d %B %Y @ %l:%M %P - " }} {{ end_time | date: "%l:%M %P" }}<br>
    {% if talk.title %}
    <b><span class="talk-date">{{ talk.title }}</span></b><br>
    {% endif %}

    {% if talk.speaker %}
    <b>Speaker: </b><a href="{{ talk.speaker_url | replace: 'BASE', site.base }}">{{ talk.speaker }}</a>
    <br>
    {% endif %}

    {% if talk.venue %}
    <b>Venue: </b>{{ talk.venue }}<br>
    {% endif %}
    
    {% if talk.video %}
    [<a href="{{ talk.video | replace: 'BASE', site.base }}">Video</a>]<br>
    {% endif %}
</div>
    